extends ../../base.pug

block title 
    | Happy Birthday, #{name} - WebWish.com 

block style 
    style 
        include /static/CSS/SCSS/templates/Normal User/template5.css

block body  
    div#img-div
    main 
        section#intro-section
            div#name
                h1#intro-section-heading1 #{name}Aryan
            div#wisher-name
                h1#intro-section-heading2 From #{wisher}Aryan
        
        section#description  
            div#description-div1.description-div
                img.images.images-left#img1(src="../../../static/Img/Img/hand-left.png", alt="Happy Birthday")
                //- img.images-img.images-left-img(src="#{image1}", alt="Happy Birthday")
                img.images-img.images-left-img(src="../../../static/Img/Img/1.jpg", alt="Happy Birthday")
                | #{descLine1}
            div#description-div2.description-div
                img.images.images-right#img2(src="../../../static/Img/Img/hand-right.png", alt="Happy Birthday")
                //- img.images-img.images-right-img(src="#{image2}", alt="Happy Birthday")
                img.images-img.images-right-img(src="../../../static/Img/Img/2.jpg", alt="Happy Birthday")
                | #{descLine2}
            div#description-div3.description-div
                img.images.images-left#img3(src="../../../static/Img/Img/hand-left.png", alt="Happy Birthday")
                //- img.images-img.images-left-img(src="#{image3}", alt="Happy Birthday")
                img.images-img.images-left-img(src="../../../static/Img/Img/3.jpg", alt="Happy Birthday")
                | #{descLine3}
            div#description-div4.description-div
                img.images.images-right#img4(src="../../../static/Img/Img/hand-right.png", alt="Happy Birthday")
                //- img.images-img.images-right-img(src="#{image4}", alt="Happy Birthday")
                img.images-img.images-right-img(src="../../../static/Img/Img/4.jpg", alt="Happy Birthday")
                | #{descLine4}
            div#description-div5.description-div
                img.images.images-left#img5(src="../../../static/Img/Img/hand-left.png", alt="Happy Birthday")
                //- img.images-img.images-left-img(src="#{image5}", alt="Happy Birthday")
                img.images-img.images-left-img(src="../../../static/Img/Img/5.jpg", alt="Happy Birthday")
                | #{descLine5}
            div#description-div6.description-div
                img.images.images-right#img6(src="../../../static/Img/Img/hand-right.png", alt="Happy Birthday")
                //- img.images-img.images-right-img(src="#{image6}", alt="Happy Birthday")
                img.images-img.images-right-img(src="../../../static/Img/Img/6.jpg", alt="Happy Birthday")
                | #{descLine6}
            div#description-div7.description-div
                img.images.images-left#img7(src="../../../static/Img/Img/hand-left.png", alt="Happy Birthday")
                //- img.images-img.images-left-img(src="#{image7}", alt="Happy Birthday")
                img.images-img.images-left-img(src="../../../static/Img/Img/7.jpg", alt="Happy Birthday")
                | #{descLine7}
            div#description-div8.description-div
                img.images.images-right#img8(src="../../../static/Img/Img/hand-right.png", alt="Happy Birthday")
                //- img.images-img.images-right-img(src="#{image8}", alt="Happy Birthday")
                img.images-img.images-right-img(src="../../../static/Img/Img/8.jpg", alt="Happy Birthday")
                | #{descLine8}
            div#description-div9.description-div
                img.images.images-left#img9(src="../../../static/Img/Img/hand-left.png", alt="Happy Birthday")
                //- img.images-img.images-left-img(src="#{image9}", alt="Happy Birthday")
                img.images-img.images-left-img(src="../../../static/Img/Img/9.jpg", alt="Happy Birthday")
                | #{descLine9}
            div#description-div10.description-div
                img.images.images-right#img10(src="../../../static/Img/Img/hand-right.png", alt="Happy Birthday")
                //- img.images-img.images-right-img(src="#{image10}", alt="Happy Birthday")
                img.images-img.images-right-img(src="../../../static/Img/Img/10.jpg", alt="Happy Birthday")
                | #{descLine10}
